# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

docs/_build
# wherever you told breathe_projects to look
docs/doxyoutput
# wherever you told Exhale containmentFolder is
docs/api
docs/en/man
docs/en/xml
docs/en/xml_in
docs/en/_build

# Others
*.bak
*.mk.bak
*.txt.bak
*.c.bak
*.h.bak
*.pre
*.c.pre
*.h.pre
*.md.bak